    <div class="sidebar panel">
      <h4 data-tooltip title="Here's a glimpse of your financial situation this month.">
        <i class="fa fa-calendar"></i>&nbsp;&nbsp;This Month
      </h4>
      <table class="full_width_table">
        <tr data-tooltip title="Your total income for this month only." class="tip-right">
          <td>Income</td><td class="green"><%= number_to_currency(@total_income, :unit => "Rp ") %></td>
        </tr>
        <tr data-tooltip title="Your total expenses for this month only." class="tip-right">
          <td>Expenses</td><td class="red"><%= number_to_currency(@total_expenses, :unit => "Rp ") %></td>
        </tr>
        <tr data-tooltip title="Your total income minus total expenses." class="tip-right">
          <td>Net Income</td><td class="green"><%= number_to_currency(@total_month, :unit => "Rp ") %></td>
        </tr>
      </table>

      <h4><i class="fa fa-money"></i>&nbsp;&nbsp;Residue</h4>
      <div class="panel">
        <h5><%= number_to_currency(@residue, :unit => "Rp ") %></h5>
      </div>

      <h4><i class="fa fa-btc"></i>&nbsp;&nbsp;Net Worth</h4>
      <div class="panel">
        <h5><%= number_to_currency(@total, :unit => "Rp ") %></h5>
      </div>

      <h4><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Target Savings</h4>      
      <% if @target_savings != [] %>
        <% @target_savings.each do |target_saving| %>
          <div class="panel">
            <a href=<%= saving_events_url(target_saving) %>><%= target_saving.name %></a>
            <br /><br />
            <div class="progress round">
              <span class="meter" style="width: <%= target_saving.jumlah.to_f/target_saving.amount_target.to_f*100 %>%"></span>
              <span class="target_amount"><%= number_to_currency(target_saving.jumlah || 0, :unit => "Rp ") %> / <%= number_to_currency(target_saving.amount_target, :unit => "Rp ") %></span>
            </div>
          </div>
        <% end %>
      <% else %>
      <p>You don't have any target savings! Why don't you make one now..</p>
      <% end %>
      <a class="small success button" data-reveal-id="savingModal"><i class="fa fa-plus-circle fa-lg"></i>&nbsp;&nbsp;Add Target Saving</a>
      <%= link_to savings_index_path, class: 'small button' do %><i class="fa fa-tasks fa-lg"></i>&nbsp;&nbsp;See Target Saving<% end %>
    </div>


<!-- Modal for target savings -->
<div id="savingModal" class="reveal-modal small" data-reveal>
  <h2>Add Target Saving</h2>
    <p class="lead">Define your target saving here:</p>
    <%= render 'shared/tsavings_form' %>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="editsavingModal" class="reveal-modal small" data-reveal>
  <h2>Edit Target Saving</h2>
    <p class="lead">Define your target saving here:</p>
    <div id="target"></div>
  <a class="close-reveal-modal">&#215;</a>
</div>