    <div class="sidebar panel">
      <h4>This Month</h4>
      <table>
        <tr>
          <td>Income</td><td><%= number_to_currency(@total_income, :unit => "Rp ") %></td>
        </tr>
        <tr>
          <td>Expenses</td><td><%= number_to_currency(@total_expenses, :unit => "Rp ") %></td>
        </tr>
        <tr>
          <td>Net Income</td><td><%= number_to_currency(@total_month, :unit => "Rp ") %></td>
        </tr>
      </table>

      <h4>Residue</h4>
      <div class="panel">
        <h5><%= number_to_currency(@residue, :unit => "Rp ") %></h5>
      </div>

      <h4>Net Worth</h4>
      <div class="panel">
        <h5><%= number_to_currency(@total, :unit => "Rp ") %></h5>
      </div>
      
      <% if @target_savings != [] %>
      <h4>Target Savings</h4>
        <% @target_savings.each do |target_saving| %>
          <div class="panel">
            <a href="#!"><%= target_saving.name %></a>
              <div class="progress success round">
                <span class="meter" style="width: <%= target_saving.jumlah.to_f/target_saving.amount_target.to_f*100 %>%"></span>
                <span class="target_amount">(<%= number_to_currency(target_saving.jumlah || 0, :unit => "Rp ") %>/<%= number_to_currency(target_saving.amount_target, :unit => "Rp ") %>)</span>
              </div>
          </div>
        <% end %>
      <% else %>
      <p>You don't have any target savings! Why don't you make one now..</p>
      <% end %>
      <a class="small success button" data-reveal-id="savingModal"><i class="fa fa-plus-circle fa-lg"></i>&nbsp;&nbsp;Add Target Saving</a>
      <%= link_to savings_index_path, class: 'small button' do %><i class="fa fa-tasks fa-lg"></i>&nbsp;&nbsp;See Target Saving<% end %>
    </div>


<!-- Modal for target savings -->
<div id="savingModal" class="reveal-modal small" data-reveal>
  <h2>Add Target Saving</h2>
    <p class="lead">Define your target saving here:</p>
    <%= render 'shared/tsavings_form' %>
  <a class="close-reveal-modal">&#215;</a>
</div>