<!-- <form> -->
<%= form_for(@event) do |f| %>
  <div class="row">
    <div class="small-8 small-offset-4">
      <div class="row">
        <div class="small-2 columns">
          <label for="date" class="right inline">Date: </label>
        </div>
        <div class="small-10 columns">
          <%= text_field_tag 'date', nil, class: 'date datepicker' %>
        </div>
      </div>
    </div>
  </div>
  <fieldset>
    <legend>Transaction : </legend>

    <%= radio_button_tag 'transaksi', 'add_income', false, class: 'transaction-type' %><%= label_tag 'transaksi_add_income', 'Add Income' %>
    <%= radio_button_tag 'transaksi', 'add_outcome', false, class: 'transaction-type' %><%= label_tag 'transaksi_add_outcome', 'Add Expenses' %>
    <%= radio_button_tag 'transaksi', 'add_saving', false, class: 'transaction-type' %><%= label_tag 'transaksi_add_saving', 'Add Savings' %>

    <br />
    <!-- 
      <%#= select_tag "savings", "<option>This Saving</option><option>That Saving</option><option>My Saving</option>".html_safe %>
     -->
    <div id="select_saving" class="hide">
      <%= collection_select(:target, :target_savings, @target_savings, :id, :name) %>
    </div>

    <div class="row collapse">
      <div class="small-3 large-2 columns">
        <span class="prefix">Rp </span>
      </div>
      <div class="small-9 large-10 columns">
        <%= number_field_tag 'amount', nil, placeholder: 'Enter amount...' %>
      </div>
    </div>

    <label for="description">Description: </label>
    <%= text_area_tag 'description' %>

  </fieldset>

  <%= submit_tag "Submit", data: { disable_with: "Processing..." }, class: "button small" %>
  <% end %> 
<!-- </form> -->