<div class="row">
  <div class="large-12 columns">
    <h1>Celeng.in Application</h1>
    <h3>Reach your dreams and be your own bank!</h3>
  </div>
</div>

<br /><br /><br />
<div class="row">
  <div class="large-5 columns text-justify panel">
    <h4>What is Celeng.in</h4>
    <p>Celeng.in is an online application to help you reach your dreams. It is designed to help you manage your money easily, and beautifuly. You can set your goals (eg. Buy your dream car) and the app will help you to reach them.</p>
    <p>Celeng.in will help you to be disciplined in achieving your goals. Once you set the target saving item, you will have the freedom to allocate your money based on your priority. The app will show you the status of each item and how far (or close) to reach it.</p>
  </div>
  <div class="large-7 columns">
    <a class="th radius" href="#">
      <%= image_tag 'savings.jpg' %>
    </a>
  </div>
</div>

<br /><br /><br />
<div class="row">
  <div class="large-7 columns">
    <a class="th radius" href="#">
      <%= image_tag 'dashboard.jpg' %>
    </a>
  </div>
  <div class="large-5 columns text-justify panel">
    <h4>How does it work?</h4>
    <p>Celeng.in will help you manage your money and reach your dream items by providing a simple yet intuitive calendar interface. You just add your income or expenses on any given day. And then, after you set your target saving item, you can start add to savings and walk your way up to the goals.</p>
    <p>What could be simpler than that? :)</p>
    <p>You can also look at your financial situation any time. The sidebar always show you this information for your convenience.</p>
  </div>
</div>

<% if user_signed_in? %>
<br /><br />
<div class="row">
  <div class="large-12 large-centered columns text-center">
    <p>Need any <%= link_to "Assistance", help_index_path %>?</p>
   </div>
</div>
<br />
<% else %>
<br /><br />
<div class="row">
  <div class="large-12 large-centered columns text-center">
    <h3>What are you waiting for? Go ahead and have your dreams come to reality.. :)</h3>
    <a class="button" data-reveal-id="signupModal">Sign Up Now</a>
   </div>
</div>
<br />

<div id="signupModal" class="reveal-modal small" data-reveal>
  <h2>Sign up</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :username %>
    <%= f.text_field :username, :autofocus => true %></div>

    <div><%= f.label :email %>
    <%= f.email_field :email %></div>

    <div><%= f.label :password %>
    <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %></div>

    <div><%= f.submit "Sign up", class: 'button small' %></div>
  <% end %>

  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="signinModal" class="reveal-modal small" data-reveal>
  <h2>Sign in</h2>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= f.label :username %>
    <%= f.text_field :username, :autofocus => true %></div>

    <div><%= f.label :password %>
    <%= f.password_field :password %></div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div><%= f.submit "Sign in", class: 'button small' %></div>
  <% end %>

  <%= render "devise/shared/links" %>
    
  <a class="close-reveal-modal">&#215;</a>
</div>

<% end %>
