<div class="row full">
  <div class="large-3 medium-4 columns">
    <%= render 'shared/sidebar_panel' %>
  </div>

  <div class="large-9 medium-8 columns">
  <h2>Target Savings</h2>
  <h4>This is your target savings list. Make sure you save some money to reach your dreams!</h4>
      <br />
      <% if @target_savings != [] %>
        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
        <% @target_savings.each do |target_saving| %>
          <li>
            <% if target_saving.images_url %>
            <%= image_tag target_saving.images_url(:thumb).to_s, class: 'saving_image' %>
            <% else %>
            <img src="http://placehold.it/480x320&text=<%= target_saving.name %>">
            <% end %>
            
            <div class="panel">
              <a href=<%= saving_events_url(target_saving) %>><%= target_saving.name %></a>

              <%= link_to saving_url(target_saving), method: :delete, data: { confirm: 'Target Saving will be deleted. Are you sure?' }, class: 'right pull_h10' do %><i class="fa fa-times-circle fa-lg"></i><% end %>

              <%= link_to edit_saving_url(target_saving), data: {reveal_id: "editsavingModal"}, class: 'right edit' do %><i class="fa fa-pencil fa-lg"></i><% end %>

              <div class="progress round push_v10">
                <span class="meter" style="width: <%= target_saving.jumlah.to_f/target_saving.amount_target.to_f*100 %>%"></span>
                <span class="target_amount"><%= number_to_currency(target_saving.jumlah || 0, :unit => "Rp ") %> / <%= number_to_currency(target_saving.amount_target, :unit => "Rp ") %></span>
              </div>

              <table class="full_width_table">
                <tr>
                  <td>Deadline</td><td><%= target_saving.deadline.strftime("%d %B %Y") %></td>
                </tr>
                <tr>
                  <td>Price</td><td><%= number_to_currency(target_saving.amount_target, :unit => "Rp ") %></td>
                </tr>
                <tr>
                  <td>Description</td><td><%= target_saving.description %></td>
                </tr>
              </table>
            </div>
          </li>
        <% end %>
        </ul>
      <% else %>
      <p>You don't have any target savings! Why don't you make one now..</p>
      <% end %>
  </div>
</div>
