<div class="row full">
  <div class="large-3 medium-4 columns">
    <%= render 'shared/sidebar_panel' %>
  </div>

  <div class="large-9 medium-8 columns">
  <h2>This is the page where target savings reside.</h2>
  <table>
        <tr>
          <td>Target Name </td>
          <td>Deadline </td>
          <td>Amount Target</td>
          <td>Picture</td>
        </tr>
        <% @target_savings.each do |target_saving| %>
        <tr>
          <td><%= target_saving.name %></td>
          <td><%= target_saving.deadline %></td>
          <td><%= target_saving.amount_target %></td>
          <td><%= image_tag target_saving.images, size: :thumb %></td>
        </tr>
        <% end %>
      </table>
  </div>
</div>
