<div class="row full">
  <div class="large-3 medium-4 columns">
    <%= render 'shared/sidebar_panel' %>
  </div>

  <div class="large-9 medium-8 columns">
  <h2>Saving History for <%= @target_saving_name %></h2>
  <% if @events != [] %>
    <br />
    <ul class="timeline">
        <li class="saving_deadline panel">
          <i class="fa fa-fighter-jet fa-lg"></i>
          <span>Deadline:</span><br />
          <span class="orange"><%= @target_saving_deadline.strftime("%d %B %Y") %></span>
        </li>
        <% @events.each do |event| %>
        <li class="panel">
          <i class="fa fa-dot-circle-o fa-lg"></i>
          <span class="saving_time"><%= event.start_time.strftime("%d %B %Y") %></span>
          <span class="saving_name blue">Add Savings </span>
          <span class="saving_amount green"><%= number_to_currency(event.amount, :unit => "Rp ") %></span>
          <p><%= event.description %></p>
        </li>
        <% end %>
    </ul>
  <% else %>
    <br /><br />
    <h3>Ooops..</h3>
    <h4>You have no saving history. Why don't you save some money for this item now?</h4>
  <% end %>
  </div>
</div>
